* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: url(../assets/background/1764641232873.gif) no-repeat center
    center / cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --list-color: #ffffff7d;
  --separator-color: #00000053;
}

/* 滚动条相关 */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease;
  background-color: rgba(84, 84, 84, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(119, 119, 119, 0.8);
}
